.backDrop {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.showBackdrop {
  visibility: visible;
  opacity: 0.8;
}

.overlay {
  position: absolute;
  z-index: 1500;
  padding: 20px;
  width: 30%;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;

  visibility: hidden;
  transition: all 1s;
  opacity: 0;
}

@media (max-width: 992px) {
  .overlay {
    width: 50%;
  }
}

@media (max-width: 576px) {
  .overlay {
    width: 90%;
  }
}

.showOverlay {
  /* visibility: visible; */
  /* opacity: 1; */
  animation: hiddenIn 1s;
  animation-fill-mode: forwards;
}

@keyframes hiddenIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
